:root {
    --primary-color: rgba(7, 78, 126, 0.493);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgba(166, 178, 187, 0.637);
}

.dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5px;
}

.select-drop {
    width: 30px;
    height: 25px;
    appearance: none;
    border-radius: 5px;
    font-size: 12px;
    transition: 300ms all ease-in-out;
    border: 1px solid var(--tertiary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.select-drop:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
}

.select-drop option {
    padding: 20px;
    text-align: center;
    font-size: 12px;
    border: none;
}

.select-drop:focus {
    outline: none;
}

.select-drop option:checked {
    background-color: var(--primary-color);
}