/* Estilização da página de listar encomendas*/

:root {
    --background-color: rgba(7, 78, 126, 0.493);
    --primary-text-color: rgba(166, 178, 187, 0.637);
}

.ViewPackages {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-components{
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin-bottom: 10px;
    align-items: end;
}

.order-list {
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0, 65, 109, 1);
}

.order-list table {
    width: 400px;
    border-collapse: collapse;
}

.order-list tr {
    border-radius: 10px;
}

.order-list th {
    padding: 10px;
}

.order-list td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid var(--primary-text-color);
}

.thead-table {
    background-color: var(--primary-text-color);
}

.order-list th:first-child {
    border-radius: 10px 0 0 0;
}

.order-list th:last-child {
    border-radius: 0 10px 0 0;
}

.order-list td:first-child {
    border-left: 1px solid var(--primary-text-color);
}

.order-list td:last-child {
    border-right: 1px solid var(--primary-text-color);
}

.indicators {
    flex: 1;
    display: flex;
    width: 760px;
    margin-bottom: 30px;
}

.indicators .indicator {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: var(--background-color);;
    border-radius: 10px;
    margin-right: 10px;
}

.indicators .indicator .indicator-title {
    color: rgba(0,0,0,0.5);
    font-weight: bold;
}

.indicators .indicator .indicator-value {
    color: rgba(0,0,0,0.5);
    font-weight: bold;
    margin-top: 5px;
}