.select {
    margin: 0px 0px;
    width: 140px;
    display: block;
    border: none;
    padding: 9.2px 0;
    border-bottom: solid 1px #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #2CB8FF 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #2CB8FF 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
  }

.select option {
    background-color: rgba(45, 125, 188, 1);;
    color: white;
    font-weight: bold;
}

.button {
    border-radius: 60px;
    width: 60%;
    height: 30px;
    margin-top: 5px;
    color: #fff;
    border: none;
    background-color: rgba(166, 178, 187, 0.637);
    transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
    transition: transform 0.1s;
}
.button:hover {
    --y: -10;
    --scale: 1.1;
    --border-scale: 1;
  }
  
.button:active {
    --y: 5%;
    --scale: 0.9;
    --border-scale: 0.9, 0.8;
  }